@import "@fontsource/fira-mono";

:root {
  --font-body: Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-mono: "Fira Mono", monospace;
  --color-bg-0: rgb(202, 216, 228);
  --color-bg-1: hsl(209, 36%, 86%);
  --color-bg-2: hsl(224, 44%, 95%);
  --color-theme-1: #ff3e00;
  --color-theme-2: #40b3ff;
  --color-text: rgba(0, 0, 0, 0.7);
  --column-width: 42rem;
  --column-margin-top: 4rem;
  font-family: var(--font-body);
  color: var(--color-text);
}

body {
  min-height: 100vh;
  margin: 0;
  background-attachment: fixed;
  background-color: var(--color-bg-1);
  background-size: 100vw 100vh;
  background-image: radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 255, 255, 0.75) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      180deg,
      var(--color-bg-0) 0%,
      var(--color-bg-1) 15%,
      var(--color-bg-2) 50%
    );
}

h1,
h2,
p {
  font-weight: 400;
}

p {
  line-height: 1.5;
}

a {
  color: var(--color-theme-1);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1rem;
}

pre {
  font-size: 16px;
  font-family: var(--font-mono);
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 3px;
  box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
  padding: 0.5em;
  overflow-x: auto;
  color: var(--color-text);
}

.text-column {
  display: flex;
  max-width: 48rem;
  flex: 0.6;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

button:focus:not(:focus-visible) {
  outline: none;
}

@media (min-width: 720px) {
  h1 {
    font-size: 2.4rem;
  }
}

/* Tier-list */

:root {
  --white: #fff;
  --neutral-900: #191919;
  --black: #000000;
  --red: #ff7f7e;
  --orange: #ffbf7f;
  --yellow: #feff7f;
  --green: #7eff80;
  --blue: #7fbfff;
}

.tier-list__ranks {
  background-color: var(--black);
  border: 3px solid var(--black);
  display: grid;
  gap: 3px;
  width: 100%;
}

.tier-list__rank {
  display: grid;
  gap: 3px;
  grid-template-columns: 1.625fr 9fr;
}

.tier-list__rank-name {
  align-items: center;
  color: var(--neutral-900);
  display: flex;
  font-size: 1.25rem;
  justify-content: center;
  min-height: 3rem;
  padding: 2rem 2ch;
}

.tier-list__rank:nth-child(1) .tier-list__rank-name {
  background-color: var(--red);
}

.tier-list__rank:nth-child(2) .tier-list__rank-name {
  background-color: var(--orange);
}

.tier-list__rank:nth-child(3) .tier-list__rank-name {
  background-color: var(--yellow);
}

.tier-list__rank:nth-child(4) .tier-list__rank-name {
  background-color: var(--green);
}

.tier-list__rank:nth-child(5) .tier-list__rank-name {
  background-color: var(--blue);
}

.tier-list__rank-items {
  background-color: var(--neutral-900);
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(7, 1fr);
}

.tier-list__rank-item {
  align-items: center;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  padding: 2rem 2ch;
}
